/* Import, Install, etc. Open Props */
@import "https://unpkg.com/open-props";
/* Import of Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Import Font share */

@import url('https://www.fontshare.com/');


/* Diagnostic Styling */
* {
/*   outline: 1px double gray; */
}

body {
  text-align: center;
  

}


/* Main Container */
main {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 32px;
}

audio {
  width: 100%;
}

/* score: 0,0,0,1 */
h1 {
  text-align: center;
}

h1 {
  animation: var(--animation-float);
}

/* score: 0,0,1,1 */
.fade-in-text {
  animation: fadeIn 5s;
}

h1 a {
  font-family: "stardom";
  font-size: 45px;
  color: beige;
  text-decoration: none;
}



span {
  font-family: "stardom";
  font-size: 30px;
  padding: 15px;
  
  background: rgba(255,255,255,.5);
  border-radius: var(--radius-blob-3);
}

p {
  font-family: 'Times New Roman', Times, serif;
  
 
}

p:hover {
  animation: var(--animation-pulse);
}



